<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:jdbc="http://www.springframework.org/schema/jdbc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/jdbc http://www.springframework.org/schema/jdbc/spring-jdbc.xsd">

    <bean id="dataSource"
          class="org.springframework.jdbc.datasource.DriverManagerDataSource">

        <property name="driverClassName" value="org.h2.Driver"/>
        <property name="url" value="jdbc:h2:~/recipes.db" />
        <property name="username" value="sa"/>
        <property name="password" value=""/>
     </bean>

    <jdbc:initialize-database>
        <jdbc:script location="classpath:schema.sql"/>
    </jdbc:initialize-database>

    <bean id="ingredientMapper" class="ru.sbt.averveyko.dao.utils.IngredientMapper"/>
    <bean id="recipeMapper" class="ru.sbt.averveyko.dao.utils.RecipeMapper"/>
    <bean id="unitMapper" class="ru.sbt.averveyko.dao.utils.UnitMapper"/>
    <bean id="compositionEntryMapper" class="ru.sbt.averveyko.dao.utils.CompositionEntryMapper">
        <constructor-arg ref="ingredientDaoImpl"/>
        <constructor-arg ref="unitDaoImpl"/>
    </bean>

    <bean id="ingredientDaoImpl"
          class="ru.sbt.averveyko.dao.IngredientDaoImpl">
        <constructor-arg ref="dataSource"/>
        <constructor-arg ref="ingredientMapper"/>
    </bean>

    <bean id="recipeDaoImpl"
          class="ru.sbt.averveyko.dao.RecipeDaoImpl">
        <constructor-arg ref="dataSource"/>
        <constructor-arg ref="recipeMapper"/>
    </bean>

    <bean id="unitDaoImpl"
          class="ru.sbt.averveyko.dao.UnitDaoImpl">
        <constructor-arg ref="dataSource"/>
        <constructor-arg ref="unitMapper"/>
    </bean>

    <bean id="compositionDaoImpl"
          class="ru.sbt.averveyko.dao.CompositionDaoImpl">
        <constructor-arg ref="dataSource"/>
        <constructor-arg ref="compositionEntryMapper"/>
        <constructor-arg ref="ingredientDaoImpl"/>
        <constructor-arg ref="recipeDaoImpl"/>
        <constructor-arg ref="unitDaoImpl"/>
    </bean>

    <bean id="ingredient"
          class="ru.sbt.averveyko.model.Ingredient"
          scope="prototype"/>

    <bean id="recipe"
          class="ru.sbt.averveyko.model.Recipe"
          scope="prototype"/>

    <bean id="unit"
          class="ru.sbt.averveyko.model.Unit"
          scope="prototype"/>

    <bean id="composition"
          class="ru.sbt.averveyko.model.Composition"
          scope="prototype"/>

    <bean id="compositionEntry"
          class="ru.sbt.averveyko.model.CompositionEntry"
          scope="prototype"/>
</beans>