<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Chat page</title>

    <!--TODO change to min version-->
    <script src="js/jquery-3.2.1.js"></script>

    <script src="js/msg.js"></script>

    <script th:inline="javascript">
        $( document ).ready(function() {
            var timerId = setInterval(function() {
                console.log("get data");
                getMessages([[${userName}]]);
            }, 2000);

            $( "#send" ).click(function() {
                console.log("click send " + [[${userName}]] + " " + $( "#message" ).val());
                sendMessage([[${userName}]], $( "#message" ).val());
            });
        });


    </script>

</head>
<body>

<h1>Chat</h1>

<div class="container"></div>

<br/>

<form action="/logout" method="post">
    <p th:text="'Hello, ' + ${userName}" />
    <input type="hidden" th:value="${userName}" name="userName" />
    <input type="submit" value="Logout" />
</form>

    <!--<input type="hidden" th:value="${userName}" name="userName" />-->

    <p>Message:</p>
    <p><textarea id="message" name="message" placeholder="Enter you message here" /></p>
    <p><button id="send" >Send</button></p>

</body>
</html>