<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <title>Chat page</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"
          integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous"/>

    <link href="css/sticky-footer-navbar.css" rel="stylesheet"/>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"
            integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"
            integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ"
            crossorigin="anonymous"></script>

    <script src="js/jquery-3.2.1.min.js"></script>
    <script src="js/msg.js"></script>

    <script th:inline="javascript">
        $(document).ready(function () {
            var timerId = setInterval(function () {
                getMessages([[${userName}]]);
            }, 2000);

            $("#send").click(function () {
                var msg = $("#message").val();
                //Блокируем отправку пустого сообщения
                if (msg.length == 0) {
                    return;
                }
                sendMessage([[${userName}]], msg);
            });
        });
    </script>
</head>
<body>

<header>
    <!-- Fixed navbar -->
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" href="#">JMS Chat</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
                aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#" th:text="'Welcome, ' + ${userName}"></a>
                </li>
            </ul>
            <form action="/logout" method="post" class="form-inline my-2 my-lg-0">
                <input type="hidden" th:value="${userName}" name="userName"/>
                <button class="btn btn-primary" type="submit">Logout</button>
            </form>
        </div>
    </nav>
</header>

<main role="main" class="container">

    <div class="starter-template">
        <p>
        <div id="messages" class="container-fluid"></div>
        </p>

        <form onsubmit="return false;">
            <div class="form-group">
                <label for="message">Message</label>
                <input type="text" class="form-control" id="message" aria-describedby="messageHelp"
                       placeholder="Message"/>
                <small id="messageHelp" class="form-text text-muted">Enter you message here</small>
            </div>
            <button id="send" class="btn btn-primary">Send</button>
        </form>

    </div>
</main><!-- /.container -->
</body>
</html>